.parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centerDiv {
  border: 1px solid black;
  width: 300px;
  padding: 50px;
  border-radius: 6px;
  text-align: center;
}

.input {
  width: 100%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
}

label {
  font-size: 13px;
  display: block;
  text-align: left;
  margin-top: 8px;
}

.uploadBtn {
  margin-top: 30px;
  width: 100%;
  height: 48px;
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
  border: none;
}

.uploadBtn:hover {
  background-color: white;
  color: #002f34;
  border: 1px solid #002f34;
}

img {
  margin: 0 auto;
}