.footerParentDiv {
  width: 100vw;
}

.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #ebeeef;
  padding: 16px 150px;
}

.footerParentDiv .content .heading {
  font-weight: bolder;
  margin-bottom: 8px;
}

.footerParentDiv .content .heading p {
  font-size: 13px;
}

.footerParentDiv .content .list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerParentDiv .content .list ul li {
  margin-bottom: 8px;
  font-size: 11px;
  cursor: pointer;
}

.footerParentDiv .content .social-media {
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
  gap: 15px;
  color: #002f34;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  background: #002f34;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
  font-size: 13px;
}