.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.postParentDiv {
  margin: 0px 100px;
}

.heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

.heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.heading :last-child {
  font-size: 24px;
  color: #002f34;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card {
  border: solid 1px rgba(0, 0, 0, 0.251);
  margin-right: 15px;
  padding: 10px;
  max-width: 250px;
  width: 250px;
  display: inline-block;
  cursor: pointer;
  background-color: white;
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.card .content .rate {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}

.card .content .kilometer {
  font-size: medium;
}

.card .content .name {
  font-size: small;
}

.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}