.signupParentDiv {
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signupParentDiv img {
  margin-bottom: 20px;
}

.signupParentDiv form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupParentDiv .input {
  width: 100%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  margin-bottom: 10px;
}

.signupParentDiv label {
  align-self: flex-start;
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 13px;
}

.signupParentDiv button {
  width: 100%;
  height: 48px;
  background-color: #002f34;
  color: whitesmoke;
  font-weight: 900;
  border: none;
  margin-top: 20px;
}

.signupParentDiv button:hover {
  background-color: white;
  color: #002f34;
  border: 2px solid #002f34;
}

.signupParentDiv a {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: underline;
}

.alreadyAccount {
  margin: 10px;
  font-size: 13px;
}

.alreadyAccount a {
  text-decoration: none;
  color: #002f34;
}